<head>
  <style type="text/css">
      .tableFloatingHeaderOriginal th {
          background-color: #fff;
          border-bottom: 1px solid #DDD;
      }
      .sep {
          border-top:3px solid darkgoldenrod;
      }
  </style>
</head>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Day/Time</th>
    <% @rooms.each do |room| %>
    <th><%= room %></th>
    <% end %>
  </tr>
  </thead>
  <% @day = @timegroups.first[1].first.conference_day %>
  <% @timegroups.each do |timegroup| %>
    <% @f = timegroup[1].first
       if @f.conference_day != @day
         @day = @f.conference_day %>
       <tr class="sep">
    <% else %>
       <tr>
    <% end %>
    <td><%= @f.start_time.strftime("%a %-I:%M%P - ") + @f.end_time.strftime("%-I:%M%P") %></td>
    <% if @f.exclusive_session %>
        <td bgcolor="#7fffd4" colspan="100%"><%= "#{@f.session} (#{@f.room})" %></td>
        </tr>
    <% else %>
        <% @roomgroups = timegroup[1].group_by(&:room)
           @rooms.each do |room| %>
            <% if @roomgroups[room]
                if @roomgroups[room].first.available %>
                    <td class="spacetime can-add" id="<%= @roomgroups[room].first.id %>" bgcolor="green"></td>
                <% else %>
                    <td bgcolor="black"></td>
              <% end
            end
        end %>
      </tr>
    <% end %>
  <% end %>
</table>
<div class="modal fade" id="myModal" role="dialog" data-remote="/topics/new">
</div>
<script>
    var offset = $('.navbar').height();
    $("html:not(.legacy) table").stickyTableHeaders({fixedOffset: offset});
</script>
