<head>
  <style type="text/css">
      .tableFloatingHeaderOriginal th {
          background-color: #fff;
          border-bottom: 1px solid #DDD;
      }
  </style>
</head>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Day/Time</th>
    <% @rooms.each do |room| %>
    <th><%= room %></th>
    <% end %>
  </tr>
  </thead>
  <% @timegroups.each do |timegroup| %>
    <tr>
    <td><%= @f = timegroup[1].first; @f.start_time.strftime("%A %I:%M%p - ") + @f.end_time.strftime("%I:%M%p") %></td>
    <% if @f.exclusive_session %>
        <td bgcolor="#00bfff" colspan="100%"><%= @f.session + " " + @f.room %></td>
        </tr>
    <% else %>
        <% @roomgroups = timegroup[1].group_by(&:room)
           @rooms.each do |room| %>
            <% if @roomgroups[room]
                if @roomgroups[room].first.available %>
                    <td bgcolor="green" onclick="alert('Topic Entry');">available</td>
                <% else %>
                    <td bgcolor="black">unavailable</td>
              <% end
            end
        end %>
      </tr>
    <% end %>
  <% end %>
</table>
<script>
    var offset = $('.navbar').height();
    $("html:not(.legacy) table").stickyTableHeaders({fixedOffset: offset});
</script>
