<div class="modal-dialog">
  <div class="modal-content">
    <h2>Add a new Topic</h2>

    <div class="topic-room"></div>
    <div class="topic-datetime"></div>
    <div class="topic-errors" style="display: none;">

    </div>
    <%= render 'form' %>
  </div>
</div>
