<h1>OpenSpacesBoard</h1>
<h3>Welcome! Please sign in using one of the methods below:</h3>
<div id="login-buttons">
  <button class="zocial github">Sign in with Github</button>
  <button class="zocial google">Sign in with Google</button>
  <button class="zocial facebook">Sign in with Facebook</button>
  <button class="zocial twitter">Sign in with Twitter</button>
</div>
