<h1>OpenSpacesBoard</h1>
<h3>Welcome! Please sign in using one of the methods below:</h3>
<div id="login-buttons">
  <%= link_to "Sign in with Github", "/auth/github", {:class => "zocial github"} %>
  <%= link_to "Sign in with Google", "/auth/google", {:class => "zocial google"} %>
  <%= link_to "Sign in with Facebook", "/auth/facebook", {:class => "zocial facebook"} %>
  <%= link_to "Sign in with Twitter", "/auth/twitter", {:class => "zocial twitter"} %>
</div>
