// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal .modal-dialog .modal-content {
  .topic-errors {
    background: red;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }

  padding: 30px;
}

td.occupied {
  .topic {
    background: white;
    border-radius: 10px;
    padding: 10px;
  }
}

table.table {
  border-top: none;
  border-bottom: none;
  background-color: #ffffff;
}

.sep {
  border-top:3px solid darkgoldenrod;
}