// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal .modal-dialog .modal-content {
  .topic-errors {
    background: red;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }

  .cancel-button {
    float: right;
    margin-top: -34px;
  }

  padding: 30px;
}

td.occupied {
  .topic {
    background: white;
    border-radius: 10px;
    padding: 10px;
  }
  background: green;
}

td.can-add {
  background: green;
}

td.locked {
  background: gray;
}

td.unavailable {
  background: black;
}

.tableFloatingHeaderOriginal th {
  background-color: darkgray;
  border-bottom: 1px solid #DDD;
}

.sep {
  border-top: 3px solid darkgoldenrod;
}

td.exclusive {
  background: #7fffd4;
}

