// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-buttons {
  text-align: center;
  padding: 20px;

  button {
    margin: 10px;
  }
}

ul.auth-links {
  list-style-type: none;

  .gravatar {
    float: left;
    margin-top: 8px;
    width: 35px;
  }

  .auth-link {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
}
